/* list */
.top_site_list {
  list-style: none;
  color: #55597d;
}
.top_site_list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #55597d;
}
.top_site_list_left,
.top_site_list_right {
  display: flex;
}
.top_site_list_left {
  gap: 2.3rem;
}
.top_site_list_right {
  gap: 4.2rem;
}
.top_site_list_item_link {
  color: #0931f5;
  width: 30rem;
}
.clicks_width {
  width: 6rem;
}

.referee_width {
  width: 20rem;
}
.no_title_width {
  width: 20remn;
}
